$color-background: #f9f9f9;
$color-font: #131313;
$color-highlight: #0070ff;

// FONT
$default-font-size: 1.6rem;
$headline-font-size: 3rem;
$small-font-size: 1.3rem;

$primary-font: "Open Sans";
$secondary-font: "Space Grotesk";

// GRID
$grid-width: 100%;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
