.about {
  background-color: $color-background;
  padding-top: 5%;
  padding-left: 20%;

  &-headline {
    padding-left: 8rem;
    margin-bottom: 5rem;
  }

  &-span {
    font-family: $secondary-font, sans-serif;
    font-weight: 700;
    font-size: $headline-font-size;
  }

  &-blue-span {
    color: $color-highlight;
  }
}
.linebreakSpan {
  display: block;
  width: max-content;
}

.about-text {
  font-family: $primary-font;
  font-size: $default-font-size;
  font-weight: 400;
  line-height: 1.6;
  margin-left: 4rem;

  &-wrapper {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr;
  }

  & h2 {
    font-family: $primary-font;
    font-size: $default-font-size;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  &-img {
    color: #fff;
    position: relative;
    top: 5.75rem;
    left: 3rem;
    width: 12rem;
  }
}

.about-img {
  position: relative;
  top: -10rem;
  height: 23rem;
  &--side {
    transition: all 0.8s ease;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
    height: 23rem;
  }

  &--front {
    top: 0;
    width: 23rem;
    height: 23rem;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1rem;
    height: 23rem;
    perspective: 150rem;
    -moz-perspective: 150rem;

    & img {
      width: auto;
      height: 100%;
      margin-left: -5rem;
    }
  }
  &--back {
    width: 23rem;
    height: 23rem;
    background-color: $color-highlight;
    border-radius: 50%;
    margin-left: 1rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    transform: rotateY(-180deg);
  }

  &:hover &--front {
    transform: rotateY(-180deg);
  }

  &:hover &--back {
    transform: rotateY(0);
  }
  &-mobile {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .about {
    padding-left: 15%;
  }
}

@media screen and (max-width: 824px) {
  .about {
    padding-left: 1rem;
    &-headline {
      position: relative;
      padding-left: 2rem;
      margin-bottom: 5rem;
      h1 {
        margin-left: -2.2rem;
      }
    }

    .linebreakSpan {
      width: fit-content;
      overflow-wrap: normal;
    }

    &-text {
      padding-right: 5rem;
      overflow-wrap: normal;
      margin-left: 0.5rem;
      margin-bottom: 2rem;
      grid-column: 2 / 3;
      grid-row: 2;

      &-wrapper {
        grid-template-columns: 0.1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
      }
      &-img {
        margin-left: 3rem;
        margin-right: 1rem;
      }
    }
    .vLine {
      grid-column: 1;
      grid-row: 2;
    }
    &-img {
      display: block;
      grid-row: 1;
      top: 0.1rem;
      left: 5.6rem;
      padding-bottom: 1rem;
    }
  }
}
