.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0.5rem;
  height: 100vh;
}

#navcontent {
  background-color: pink;
}

#aboutcontent {
  background-color: greenyellow;
}
