.header {
  text-align: center;
  height: 50vh;
}

.name {
  color: $color-grey-light;
  font-size: 7rem;
  font-weight: 700;
  word-spacing: 2rem;
  letter-spacing: 0.5rem;
  padding-top: 5%;

  animation-name: blendIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.greeting {
  padding-top: 2.5rem;
  font-size: 1.8rem;
  animation-name: moveInButtom;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
