.nav {
  background-color: #ffffff;
  display: flex;
  margin: 2% 14% 0 14%;
  white-space: nowrap;
  justify-content: space-between;

  &-logo {
    overflow: visible;
    padding-right: 2.3rem;
  }

  &-logo-subtext {
    font-size: 1.2rem;
    font-weight: 700;
  }
  &-logo img {
    margin-top: -0.7rem;
  }
  &-left {
    display: flex;
  }

  &-right {
    display: block;
  }

  .smicons {
    text-align: right;

    a:not(:last-child) {
      padding-right: 1rem;
    }
  }

  &-bar {
    font-size: 1.8rem;
    a:not(:last-child) {
      padding-right: 2.5rem;
    }
  }
}
