.navbox {
  box-shadow: 0 2px 11px 0 rgba(204, 204, 204, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.nav {
  background-color: $color-white;
  display: flex;
  margin-bottom: 5px;
  padding-top: 2%;
  white-space: nowrap;
  justify-content: space-around;

  &-logo {
    overflow: visible;
    padding-right: 2.3rem;
  }

  &-logo-subtext {
    font-size: 1.4rem;
    font-weight: 700;
  }
  &-logo img {
    margin-top: 0.3rem;
    width: 4.5rem;
    height: 4.4rem;
  }
  &-left {
    display: flex;
  }

  &-right {
    display: block;
    padding-top: 1.4rem;
  }

  &-bar {
    font-size: $default-font-size;
    padding-bottom: 2.5rem;
    a:not(:last-child) {
      padding-right: 2.5rem;
    }
  }
}

.navmobile {
  display: none;
}

@media screen and (max-width: 824px) {
  .nav {
    justify-content: flex-start;
    padding-left: 3rem;
    &-logo-subtext {
      display: none;
    }
  }
  .nav-right {
    display: none;
  }

  .navmobile {
    display: block;
    &-checkbox {
      display: none;
    }
    &-button {
      background-color: transparent;
      height: 5rem;
      width: 7rem;
      position: absolute;
      top: 0.2rem;
      right: 2rem;
      z-index: 2000;
      text-align: center;
      cursor: pointer;
    }
    &-bg {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      position: fixed;
      top: 1rem;
      right: 2rem;
      background-color: $color-background;
      z-index: 1000;
      opacity: 0;
      // transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }
    &-nav {
      display: block;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      opacity: 0;
      width: 0%;
      display: none;
      // transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &-list {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 12rem;
      margin-left: 2rem;
      list-style: none;
    }
    &-link {
      &:link,
      &:visited {
        display: inline-block;
        font-size: 4rem;
        font-weight: 800;
        padding: 1rem 2rem;
        color: $color-font;
        text-decoration: none;
      }

      &:hover,
      &:active {
        background-position: 100%;
        color: $color-highlight;
      }
    }

    &-checkbox:checked ~ &-bg {
      opacity: 1;
      transform: scale(80);
    }

    &-checkbox:checked ~ &-nav {
      display: block;
      opacity: 1;
      width: 100%;
    }
    &-checkbox:checked ~ &-list {
      display: block;
    }
    &-checkbox:checked ~ label {
      position: fixed;
    }

    &-icon {
      position: relative;
      margin-top: 2.6rem;

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: $color-highlight;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.4s;
      }

      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }

    &-button:hover &-icon::before {
      top: -1rem;
    }

    &-button:hover &-icon::after {
      top: 1rem;
    }

    &-checkbox:checked + &-button &-icon {
      background-color: transparent;
    }

    &-checkbox:checked + &-button &-icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &-checkbox:checked + &-button &-icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
  .navi-item {
    margin: 1rem;
  }
}
