.projects {
  background-color: $color-white;
  padding-top: 5%;
  padding-left: 20%;
  padding-bottom: 5%;

  &-span {
    font-family: $secondary-font, sans-serif;
    font-weight: 700;
    font-size: $default-font-size;
  }

  &-blue-span {
    color: $color-highlight;
  }

  & h1 {
    margin-bottom: 4rem;
    padding-left: 8rem;
  }
  &-img {
    width: 35rem;
    margin-left: 5rem;
  }

  &-wrapper-site {
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr;
    padding-bottom: 5%;
    padding-right: 28%;
  }
  &-wrapper-phone {
    display: grid;
    grid-template-columns: 0.1fr 1fr 2fr;
  }
  ul {
    list-style: none;
    padding-top: 2rem;
  }
}

.projects-text {
  margin-top: 6rem;
  margin-left: 4rem;
  font-family: $primary-font;
  font-size: $default-font-size;
  font-weight: 400;
  line-height: $default-font-size * 1.5;

  li {
    list-style: none;
  }

  & h2 {
    font-family: $primary-font;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  & dt {
    font-weight: bold;
  }
  & dd {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .projects {
    padding-left: 15%;
  }
}

@media screen and (max-width: 824px) {
  .projects {
    padding-left: 1rem;
    padding-right: 1rem;

    h1 {
      padding-left: 4rem;
      margin-bottom: 5rem;
    }

    &-text {
      margin-top: 0;
      margin-left: 0.5rem;
      width: 50%;
      grid-column: 1;
      grid-row: 2;
    }
    &-phone {
      display: block;
    }
    &-wrapper-site {
      margin-right: 1rem;
      padding-left: 4rem;
      grid-template-columns: 1fr 0.1fr;
      grid-template-rows: 0.5fr 1fr;
      .vLine {
        grid-column: 2;
        grid-row: 2;
      }
      img {
        width: 20rem;
        margin-left: 1rem;
      }
    }
    &-wrapper-phone {
      grid-template-columns: 0.1fr 1fr;
      grid-template-rows: 0.5fr 1fr;
      .vLine {
        grid-column: 1;
        grid-row: 1;
      }
      .phoneimg {
        grid-column: 2;
        grid-row: 2;
      }
      img {
        width: 20rem;
      }
      .projects-text {
        padding-right: 6rem;
        grid-column: 2;
        grid-row: 1;
      }
    }
  }
}
