.skills {
  background-color: #f7f9ff;
  padding-top: 5%;
  padding-left: 20%;
  padding-bottom: 5%;

  &-span {
    font-family: $secondary-font, sans-serif;
    font-weight: 700;
    font-size: $default-font-size;
  }

  &-blue-span {
    color: $color-highlight;
  }

  & h1 {
    padding-left: 8rem;
  }
  &-img {
    width: 35rem;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr;
  }
}

.skills-text {
  margin-top: 6rem;
  margin-left: 4rem;
  font-family: $primary-font;
  font-size: $default-font-size;
  font-weight: 400;
  line-height: $default-font-size * 1.5;

  & h2 {
    font-family: $primary-font;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  & dt {
    font-weight: bold;
    padding-bottom: 0.2rem;
  }
  & dd {
    margin-left: 3rem;
    padding-bottom: 0.6rem;
  }
}
