$color-background: #f7f9ff;
$color-font: #131313;
$color-highlight: #0070ff;
$color-white: #ffffff;

// FONT
$default-font-size: 1.4rem;
$headline-font-size: 3rem;
$small-font-size: 1rem;

$primary-font: "Open Sans";
$secondary-font: "Space Grotesk";

// GRID
$grid-width: 100%;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
