
 .navibar, .navlink {
    color: #eee;
    background-color: #393e46;
    font-family: Poppins, sans-serif;
    border-radius: 50px;
    margin: 5px;
    width: fit-content;

   
}

.navlink:hover {
color: #00adb5;
font-weight: bold;
}