*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100vh;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;

  a:link {
    color: $color-font;
    text-decoration: none;
  }
  a:visited {
    color: $color-font;
    text-decoration: none;
  }
  a:hover {
    color: $color-highlight;
    text-decoration: none;
  }
  a:active {
    color: $color-highlight;
    text-decoration: none;
  }
}
