@import "../abstracts/variables";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Space+Grotesk:wght@300&display=swap');


body {
  font-family: $primary-font, sans-serif;
  font-weight: 400;
  color: $color-black;
}

h1 {
  font-family: $secondary-font, sans-serif;
  font-weight: 700;
  font-size: 4rem;
}



