@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,800;0,900;1,100;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", "Montserrat", "Arial", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(18, 18, 18);
  color: white;
  text-align: center;
}

div {
 color: white;
  animation: fadeInLeft 1s ease-in;
}

.name {
  overflow:hidden;
  margin: 50px;
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  word-spacing: 20px;
  letter-spacing: 5px;
}

@keyframes fadeInLeft {
 
  from {
    
      opacity:0;
       }
  to {
    
      opacity:1;
             }
}