@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Space+Grotesk:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100vh;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE and Edge */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }

html::-webkit-scrollbar {
  display: none; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none; }
  body a:link {
    color: #131313;
    text-decoration: none; }
  body a:visited {
    color: #131313;
    text-decoration: none; }
  body a:hover {
    color: #0070ff;
    text-decoration: none; }
  body a:active {
    color: #0070ff;
    text-decoration: none; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes blendIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #131313; }

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 3rem; }

.navbox {
  box-shadow: 0 2px 11px 0 rgba(204, 204, 204, 0.5); }

.nav {
  background-color: #ffffff;
  display: flex;
  margin-bottom: 5px;
  padding-top: 2%;
  white-space: nowrap;
  justify-content: space-around; }
  .nav-logo {
    overflow: visible;
    padding-right: 2.3rem; }
  .nav-logo-subtext {
    font-size: 1.4rem;
    font-weight: 700; }
  .nav-logo img {
    margin-top: 0.3rem;
    width: 4.5rem;
    height: 4.4rem; }
  .nav-left {
    display: flex; }
  .nav-right {
    display: block;
    padding-top: 1.4rem; }
  .nav-bar {
    font-size: 1.4rem;
    padding-bottom: 2.5rem; }
    .nav-bar a:not(:last-child) {
      padding-right: 2.5rem; }

.navmobile {
  display: none; }

@media screen and (max-width: 824px) {
  .nav {
    justify-content: flex-start;
    padding-left: 3rem; }
    .nav-logo-subtext {
      display: none; }
  .nav-right {
    display: none; }
  .navmobile {
    display: block; }
    .navmobile-checkbox {
      display: none; }
    .navmobile-button {
      background-color: transparent;
      height: 5rem;
      width: 7rem;
      position: absolute;
      top: 0.2rem;
      right: 2rem;
      z-index: 2000;
      text-align: center;
      cursor: pointer; }
    .navmobile-bg {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      position: fixed;
      top: 1rem;
      right: 2rem;
      background-color: #f7f9ff;
      z-index: 1000;
      opacity: 0; }
    .navmobile-nav {
      display: block;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      opacity: 0;
      width: 0%;
      display: none; }
    .navmobile-list {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 12rem;
      margin-left: 2rem;
      list-style: none; }
    .navmobile-link:link, .navmobile-link:visited {
      display: inline-block;
      font-size: 4rem;
      font-weight: 800;
      padding: 1rem 2rem;
      color: #131313;
      text-decoration: none; }
    .navmobile-link:hover, .navmobile-link:active {
      background-position: 100%;
      color: #0070ff; }
    .navmobile-checkbox:checked ~ .navmobile-bg {
      opacity: 1;
      transform: scale(80); }
    .navmobile-checkbox:checked ~ .navmobile-nav {
      display: block;
      opacity: 1;
      width: 100%; }
    .navmobile-checkbox:checked ~ .navmobile-list {
      display: block; }
    .navmobile-checkbox:checked ~ label {
      position: fixed; }
    .navmobile-icon {
      position: relative;
      margin-top: 2.6rem; }
      .navmobile-icon, .navmobile-icon::before, .navmobile-icon::after {
        width: 3rem;
        height: 2px;
        background-color: #0070ff;
        display: inline-block; }
      .navmobile-icon::before, .navmobile-icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.4s; }
      .navmobile-icon::before {
        top: -0.8rem; }
      .navmobile-icon::after {
        top: 0.8rem; }
    .navmobile-button:hover .navmobile-icon::before {
      top: -1rem; }
    .navmobile-button:hover .navmobile-icon::after {
      top: 1rem; }
    .navmobile-checkbox:checked + .navmobile-button .navmobile-icon {
      background-color: transparent; }
    .navmobile-checkbox:checked + .navmobile-button .navmobile-icon::before {
      top: 0;
      transform: rotate(135deg); }
    .navmobile-checkbox:checked + .navmobile-button .navmobile-icon::after {
      top: 0;
      transform: rotate(-135deg); }
  .navi-item {
    margin: 1rem; } }

.about {
  background-color: #f7f9ff;
  padding-top: 5%;
  padding-left: 20%; }
  .about-headline {
    padding-left: 8rem;
    margin-bottom: 5rem; }
  .about-span {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 3rem; }
  .about-blue-span {
    color: #0070ff; }

.linebreakSpan {
  display: block;
  width: max-content; }

.about-text {
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  margin-left: 4rem; }
  .about-text-wrapper {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr; }
  .about-text h2 {
    font-family: "Open Sans";
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 1rem; }
  .about-text-img {
    color: #fff;
    position: relative;
    top: 5.75rem;
    left: 3rem;
    width: 12rem; }

.about-img {
  position: relative;
  top: -10rem;
  height: 23rem;
  margin-right: auto; }
  .about-img--side {
    transition: all 0.8s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    height: 23rem; }
  .about-img--front {
    top: 0;
    width: 23rem;
    height: 23rem;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1rem;
    height: 23rem;
    perspective: 150rem;
    -moz-perspective: 150rem; }
    .about-img--front img {
      width: auto;
      height: 100%;
      margin-left: -5rem; }
  .about-img--back {
    width: 23rem;
    height: 23rem;
    background-color: #0070ff;
    border-radius: 50%;
    margin-left: 1rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    transform: rotateY(-180deg); }
  .about-img:hover .about-img--front {
    transform: rotateY(-180deg); }
  .about-img:hover .about-img--back {
    transform: rotateY(0); }

.linebreakSpan-mobile {
  display: none; }

@media screen and (max-width: 1100px) {
  .about {
    padding-left: 15%; } }

@media screen and (max-width: 824px) {
  .about {
    padding-left: 1rem; }
    .about-headline {
      position: relative;
      padding-left: 2rem;
      margin-bottom: 5rem; }
      .about-headline h1 {
        margin-left: -2.2rem; }
    .about .linebreakSpan {
      display: none; }
    .about .linebreakSpan-mobile {
      display: block; }
    .about-text {
      padding-right: 5rem;
      overflow-wrap: normal;
      margin-left: 0.5rem;
      margin-bottom: 2rem;
      grid-column: 2 / 3;
      grid-row: 2; }
      .about-text-wrapper {
        grid-template-columns: 0.1fr 1fr;
        grid-template-rows: 1fr 0.5fr; }
      .about-text-img {
        margin-left: 3rem;
        margin-right: 1rem; }
    .about .vLine {
      grid-column: 1;
      grid-row: 2; }
    .about-img {
      display: block;
      grid-row: 1;
      top: 0.1rem;
      left: 5.6rem;
      padding-bottom: 1rem; }
  .about-text-img {
    color: #fff;
    position: relative;
    top: 5.75rem;
    left: 2rem;
    width: 100%; } }

.skills {
  background-color: #f7f9ff;
  padding-top: 5%;
  padding-left: 20%;
  padding-bottom: 5%; }
  .skills-span {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 1.4rem; }
  .skills-blue-span {
    color: #0070ff; }
  .skills h1 {
    padding-left: 8rem; }
  .skills-img {
    width: 35rem; }
  .skills-wrapper {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr; }

.skills-text {
  margin-top: 6rem;
  margin-left: 4rem;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem; }
  .skills-text h2 {
    font-family: "Open Sans";
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem; }
  .skills-text dt {
    font-weight: bold;
    padding-bottom: 0.2rem; }
  .skills-text dd {
    margin-left: 3rem;
    padding-bottom: 0.6rem; }

@media screen and (max-width: 1100px) {
  .skills {
    padding-left: 15%; } }

@media screen and (max-width: 824px) {
  .skills {
    padding-left: 1rem; }
    .skills-wrapper {
      padding-right: 2rem;
      display: grid;
      grid-template-columns: 0.1fr 1fr; }
    .skills h1 {
      padding-left: 4rem; }
    .skills-text {
      margin-left: 0.5rem;
      margin-bottom: 2rem; }
    .skills-img {
      display: none; } }

.projects {
  background-color: #ffffff;
  padding-top: 5%;
  padding-left: 20%;
  padding-bottom: 5%; }
  .projects-span {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 1.4rem; }
  .projects-blue-span {
    color: #0070ff; }
  .projects h1 {
    margin-bottom: 4rem;
    padding-left: 8rem; }
  .projects-img {
    width: 35rem;
    margin-left: 5rem; }
  .projects-wrapper-site {
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr;
    padding-bottom: 5%;
    padding-right: 28%; }
  .projects-wrapper-phone {
    display: grid;
    grid-template-columns: 0.1fr 1fr 2fr; }
  .projects ul {
    list-style: none;
    padding-top: 2rem; }

.projects-text {
  margin-top: 6rem;
  margin-left: 4rem;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem; }
  .projects-text li {
    list-style: none; }
  .projects-text h2 {
    font-family: "Open Sans";
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem; }
  .projects-text dt {
    font-weight: bold; }
  .projects-text dd {
    margin-left: 3rem; }

@media screen and (max-width: 1100px) {
  .projects {
    padding-left: 15%; } }

@media screen and (max-width: 824px) {
  .projects {
    padding-left: 1rem;
    padding-right: 1rem; }
    .projects h1 {
      padding-left: 4rem;
      margin-bottom: 5rem; }
    .projects-text {
      margin-top: 0;
      margin-left: 0.5rem;
      grid-column: 1;
      grid-row: 2; }
    .projects-phone {
      display: block; }
    .projects-wrapper-site {
      margin-right: 1rem;
      padding-left: 4rem;
      grid-template-columns: 1fr 0.1fr;
      grid-template-rows: 0.5fr 1fr; }
      .projects-wrapper-site .vLine {
        padding-left: 5rem;
        grid-column: 2;
        grid-row: 2; }
      .projects-wrapper-site img {
        width: 20rem;
        margin-left: 1rem; }
    .projects-wrapper-phone {
      grid-template-columns: 0.1fr 1fr;
      grid-template-rows: 0.5fr 1fr; }
      .projects-wrapper-phone .vLine {
        grid-column: 1;
        grid-row: 1; }
      .projects-wrapper-phone .phoneimg {
        grid-column: 2;
        grid-row: 2; }
      .projects-wrapper-phone img {
        width: 20rem; }
      .projects-wrapper-phone .projects-text {
        padding-right: 6rem;
        grid-column: 2;
        grid-row: 1; } }

.contact {
  background-color: #0070ff;
  padding-top: 2%;
  padding-left: 20%; }
  .contact h1 {
    color: #ffffff;
    padding-bottom: 2rem; }
  .contact-wrapper {
    display: flex;
    padding-bottom: 10rem; }

.contact-button {
  display: block;
  outline: none;
  background-color: #ffffff;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  width: 8rem;
  height: 2.2rem;
  border-radius: 0.5rem;
  font-family: "Open Sans";
  color: #0070ff;
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
  font-weight: 800;
  margin-right: 2rem; }
  .contact-button:hover {
    color: #131313; }

@media screen and (max-width: 824px) {
  h1 {
    padding-left: 2rem; }
  .contact {
    padding-top: 2rem;
    padding-left: 2rem; }
    .contact-wrapper {
      justify-content: center; }
    .contact-button {
      padding: 1rem;
      width: 6rem; } }

.card {
  background-color: #f7f9ff;
  color: #131313;
  border: 1px solid #f7f9ff;
  padding: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.8s; }
  .card-Headline {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem; }
  .card-list {
    padding: 0 2.5rem 0;
    list-style-type: none;
    text-align: left;
    font-size: 1.5rem;
    line-height: 3rem; }
  .card:hover {
    transform: translateY(-0.8rem);
    box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.1); }

.mouse {
  display: flex;
  justify-content: center;
  width: 3rem;
  height: 6rem;
  border: 0.1rem solid #0070ff;
  border-radius: 6rem;
  position: absolute; }

.mouse::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  top: 1rem;
  position: absolute;
  border-radius: 50%;
  opacity: 1;
  background: #0070ff;
  animation: mouse 2s infinite; }

@keyframes mouse {
  from {
    opacity: 1;
    top: 1rem; }
  to {
    opacity: 0;
    top: 4rem; } }

.vLine {
  border-right: 0.05rem solid #0070ff;
  height: auto;
  color: #0070ff;
  margin: 2rem 2rem 0 0rem;
  padding: 1rem; }
