@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Space+Grotesk:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100vh; }

body {
  background-color: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes blendIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #131313; }

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 4rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.container {
  display: grid;
  margin: 0 20rem 0;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh; }

#navcontent {
  background-color: pink;
  position: fixed;
  margin-left: 16%; }

#aboutcontent {
  background-color: greenyellow; }

#skillcontent {
  grid-column: 2/3;
  background-color: aquamarine; }

#projectcontent {
  grid-column: 2/3;
  background-color: palevioletred; }

#contactcontent {
  grid-column: 2/3;
  background-color: palegoldenrod; }

.nav {
  white-space: nowrap;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 10%; }
  .nav-bar {
    list-style: none; }
  .nav-logo {
    overflow: visible; }
  .nav-logo-subtext {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 3rem; }
  .nav-logo img {
    width: 7rem;
    margin-left: -1.2rem; }
  .nav-list {
    font-size: 1.8rem;
    font-family: "Open Sans";
    color: #131313;
    text-decoration: none;
    list-style: none; }
    .nav-list a:link {
      color: #131313;
      text-decoration: none; }
    .nav-list a:visited {
      color: #131313;
      text-decoration: none; }
    .nav-list a:hover {
      color: #0070ff;
      text-decoration: none; }
    .nav-list a:active {
      color: #0070ff;
      text-decoration: none; }

.about {
  padding-top: 10%;
  padding-left: 5%;
  height: 100vh; }
  .about-span {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 4rem; }
  .about-blue-span {
    color: #0070ff; }

.landscape-img {
  display: inline-block;
  width: 26rem;
  height: 26rem;
  overflow: hidden;
  border-radius: 50%; }

.landscape-img img {
  width: auto;
  height: 100%;
  margin-left: -50px; }

.about-text {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  width: 60rem; }
  .about-text h2 {
    font-family: "Open Sans";
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem; }

.skills {
  margin-top: 10%;
  padding-left: 5%;
  height: 100vh; }
  .skills-span {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 4rem; }
  .skills-blue-span {
    color: #0070ff; }
  .skills h1 {
    margin-bottom: 4rem; }
  .skills-img {
    margin-right: 4rem; }

.skills-text {
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  width: 60rem; }
  .skills-text h2 {
    font-family: "Open Sans";
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem; }
  .skills-text dt {
    font-weight: bold; }
  .skills-text dd {
    margin-left: 3rem; }

.contact {
  margin-top: 10%;
  padding-left: 5%;
  height: 100vh; }
  .contact-span {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 4rem; }
  .contact-blue-span {
    color: #0070ff; }
  .contact h1 {
    margin-bottom: 4rem; }
  .contact-img {
    margin-right: 4rem; }

.contact-text {
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  width: 60rem; }
  .contact-text h2 {
    font-family: "Open Sans";
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem; }
  .contact-text dt {
    font-weight: bold; }
  .contact-text dd {
    margin-left: 3rem; }

.card {
  background-color: #f9f9f9;
  color: #131313;
  border: 1px solid #f9f9f9;
  padding: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.8s; }
  .card-Headline {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem; }
  .card-list {
    padding: 0 2.5rem 0;
    list-style-type: none;
    text-align: left;
    font-size: 1.5rem;
    line-height: 3rem; }
  .card:hover {
    transform: translateY(-0.8rem);
    box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.1); }
