@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,800;0,900;1,100;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,800;0,900;1,100;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100vh; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes blendIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #eee; }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 4rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  text-align: center;
  height: 50vh;
  position: relative; }

.name {
  color: #eee;
  font-size: 7rem;
  font-weight: 700;
  word-spacing: 2rem;
  letter-spacing: 0.5rem;
  padding-top: 5%;
  animation-name: blendIn;
  animation-duration: 1s;
  animation-timing-function: ease-in; }

.greeting {
  padding-top: 2.5rem;
  font-size: 1.8rem;
  animation-name: moveInButtom;
  animation-duration: 1s;
  animation-timing-function: ease-in; }

.card {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  transition: all .8s; }
  .card-Headline {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem; }
  .card-list {
    padding: 0 2.5rem 0;
    list-style-type: none;
    text-align: left;
    font-size: 1.5rem;
    line-height: 3rem; }
  .card:hover {
    transform: translateY(-0.8rem);
    box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.1); }

.skills {
  position: relative;
  background-color: #fff;
  text-align: center;
  height: 100vh;
  padding-top: 2.5rem;
  color: #000;
  word-wrap: break-word; }
  .skills h1 {
    padding-bottom: 3rem; }
